p {

font-family: 'Amatica SC', cursive;

}

.catolog {
  color: orange; 
  font-size: 40px;
}

.tipsy {
  font-family: 'Amatica SC', cursive;
  
}

.friend {
  font-family: 'Amatica SC', cursive;
  
}

.passion {
  font-family: 'Amatica SC', cursive;
  
}

.breeze {
  font-family: 'Amatica SC', cursive;
  
}








