p {

font-family: 'Amatica SC', cursive;

}

.catolog {
  font-size: 40px;
}

.tipsy {
  font-family: 'Amatica SC', cursive;
  
}

.friend {
  font-family: 'Amatica SC', cursive;
  
}

.passion {
  font-family: 'Amatica SC', cursive;
  
}

.breeze {
  font-family: 'Amatica SC', cursive;
  
}

.mary {
  font-family: 'Amatica SC', cursive;
  
}

.sangria {
  font-family: 'Amatica SC', cursive;
  
}

.header {
  width: 100%;
  height: 60px;
  background-color: #00CCCC;
  text-align: center;
  position: fixed;
  padding-top: 10px;
  padding-right: 10px;
  margin: 0 auto;
}








